<div id="sidebar-wrapper">
  <ul class="side nav sidebar-nav navbar-inner">
      <li><a name="vid1" href="#vid1">Drug Introduction</a></li>
      <li><a name="vid2" href="#vid2">Video 2</a>
      </li>
  </ul>
</div>

<div id="groupings" class="container">

<section class="firstsec"><h2 id="vid1" class="grouping">Your Drug Introduction</h2>
<iframe src="//player.vimeo.com/video/92838721" width="500" height="374" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/92838721">Your Drug Introduction</a> from <a href="http://vimeo.com/user19264906">CoverMyMeds</a></p>
</section>
<section>
<h2 id="vid2" class="grouping">Video 2</h2>

<iframe src="//player.vimeo.com/video/29950141?portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/29950141">Landscapes: Volume Two</a> from <a href="http://vimeo.com/dustinfarrell">Dustin Farrell</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

</section>

</div>
