<div class="container">
<div class="glyph_list">
  <div class="glyph" id="glyph_1"><a href="/reports">
    <i class="glyphicon glyphicon-inbox"></i>
    <span class="glyph_desc">Reports</span></a>
  </div>
  <div class="glyph" id="glyph_2"><a href="/training">
    <i class="glyphicon glyphicon-user"></i>
    <span class="glyph_desc">Training</span></a>
  </div>
  <div class="glyph" id="glyph_3"><a href="/outreach">
    <i class="glyphicon glyphicon-send"></i>
    <span class="glyph_desc">Outreach</span></a>
  </div>
  <div class="glyph" id="glyph_3"><a href="/help">
    <i class="glyphicon glyphicon-question-sign"></i>
    <span class="glyph_desc">Help</span></a>
  </div>
</div>
</div>