<div class="glyph_list">
  <div class="glyph" id="glyph_1">
    <i class="glyphicon glyphicon-inbox"></i>
    
  </div>
  <div class="glyph" id="glyph_2">
    <i class="glyphicon glyphicon-user"></i>
  </div>
  <div class="glyph" id="glyph_3">
    <i class="glyphicon glyphicon-send"></i>
  </div>
</div>