<div class="container">

		<script id="data_chart" type="text/javascript"><%= @bar_chart_data.to_json %></script>


		<div id="chart1" class='with-3d-shadow with-transitions'>
			<svg></svg>
		</div>


</div>


