<div class="container">
	
<div class="piedemo clearfix">	
	<div class="chart">
		<div class="percentage" data-percent="73">73%</div>
		<div class="label">Pharmacies</div>
	</div>

	<div class="chart">
		<div class="percentage" data-percent="73">73%</div>
		<div class="label">Physicians</div>
	</div>
</div>



<div class="bottom-chart">
	<div class="chart" data-percent="73">73%</div>
</div>

<a href="#" class="button updatePieCharts">Update pie charts</a>

<script type="text/javascript">

$(function() {
    $('.chart').easyPieChart({
        animate: 1000,
        onStep: function(value) {
          this.$el.find('span').text(~~value);
    });
});

</script>

<script type="text/javascript">
	    $(function() {

	      var charts = $('.percentage');

	      charts.easyPieChart({
	        animate: 1000,
	        onStep: function(value) {
	          this.$el.find('span').text(~~value);
	        }
	      });

	      $('.updatePieCharts').on('click', function(e) {
	        e.preventDefault();
	        charts.each(function() {
	          $(this).data('easyPieChart').update(Math.floor(100*Math.random()));
	        });
	      });
    });

</script>





</div>