  <div class="form_style">
    <form type="post" action="/log_in">
      <h3 class="centered">Log In</h3>
      <input class="centered" type="text" name="email" placeholder="email address"><br>
      <input class="centered" type="password" name="entered_password" placeholder="password"><br>
      <input id="centered-submit" type="submit" class="btn btn-default btn-lg" value="Submit">
    </form>
  </div>