<div id="sidebar-wrapper">
  <ul class="side nav sidebar-nav navbar-inner">
      <li><a name="top" href="#top">Top</a></li>
      <li><a name="product" href="#product">Product</a>
      </li>
      <li><a name="user" href="#user">User</a>
      </li>
      <li><a name="state" href="#state">State</a>
      </li>
      <li><a name="territory" href="#territory">Territory</a>
      </li>
      <li><a name="trends" href="#trends">Trends & Totals</a>
      </li>
  </ul>
</div>

<div id="groupings" class="container">
<h2 id="top" class="grouping">Top</h2>
<h3>&lt Some Graphs in Here &gt</h3>
<p>Lorem ipsum dolor sit amet, labore debitis corpora ut ius, quod deterruisset cu qui, vim no rebum meliore pericula. Forensibus instructior usu ne, utinam mollis his et. Vim et cibo moderatius honestatis. Mucius similique his id, id modo ornatus his, probatus similique adolescens duo ut.</p>
<p>Possit tibique singulis et usu, duo eu causae quaerendum. Ferri putent incorrupte cum at. Suavitate sententiae ea vel, omnesque iudicabit adolescens mea et. At nam elit audiam accusam, no duo bonorum delenit.</p>
<h2 id="product" class="grouping">Product</h2>
<p>Lorem ipsum dolor sit amet, labore debitis corpora ut ius, quod deterruisset cu qui, vim no rebum meliore pericula. Forensibus instructior usu ne, utinam mollis his et. Vim et cibo moderatius honestatis. Mucius similique his id, id modo ornatus his, probatus similique adolescens duo ut.</p>
<p>Possit tibique singulis et usu, duo eu causae quaerendum. Ferri putent incorrupte cum at. Suavitate sententiae ea vel, omnesque iudicabit adolescens mea et. At nam elit audiam accusam, no duo bonorum delenit.</p>
<h2 id="user" class="grouping">User</h2>
<p>Lorem ipsum dolor sit amet, labore debitis corpora ut ius, quod deterruisset cu qui, vim no rebum meliore pericula. Forensibus instructior usu ne, utinam mollis his et. Vim et cibo moderatius honestatis. Mucius similique his id, id modo ornatus his, probatus similique adolescens duo ut.</p>
<p>Possit tibique singulis et usu, duo eu causae quaerendum. Ferri putent incorrupte cum at. Suavitate sententiae ea vel, omnesque iudicabit adolescens mea et. At nam elit audiam accusam, no duo bonorum delenit.</p>
<h2 id="state" class="grouping">State</h2>
<p>Lorem ipsum dolor sit amet, labore debitis corpora ut ius, quod deterruisset cu qui, vim no rebum meliore pericula. Forensibus instructior usu ne, utinam mollis his et. Vim et cibo moderatius honestatis. Mucius similique his id, id modo ornatus his, probatus similique adolescens duo ut.</p>
<p>Possit tibique singulis et usu, duo eu causae quaerendum. Ferri putent incorrupte cum at. Suavitate sententiae ea vel, omnesque iudicabit adolescens mea et. At nam elit audiam accusam, no duo bonorum delenit.</p>
<h2 id="territory" class="grouping">Territory</h2>
<p>Lorem ipsum dolor sit amet, labore debitis corpora ut ius, quod deterruisset cu qui, vim no rebum meliore pericula. Forensibus instructior usu ne, utinam mollis his et. Vim et cibo moderatius honestatis. Mucius similique his id, id modo ornatus his, probatus similique adolescens duo ut.</p>
<p>Possit tibique singulis et usu, duo eu causae quaerendum. Ferri putent incorrupte cum at. Suavitate sententiae ea vel, omnesque iudicabit adolescens mea et. At nam elit audiam accusam, no duo bonorum delenit.</p>
<h2 id="trends" class="grouping">Trends & Totals</h2>
<p>Lorem ipsum dolor sit amet, labore debitis corpora ut ius, quod deterruisset cu qui, vim no rebum meliore pericula. Forensibus instructior usu ne, utinam mollis his et. Vim et cibo moderatius honestatis. Mucius similique his id, id modo ornatus his, probatus similique adolescens duo ut.</p>
<p>Possit tibique singulis et usu, duo eu causae quaerendum. Ferri putent incorrupte cum at. Suavitate sententiae ea vel, omnesque iudicabit adolescens mea et. At nam elit audiam accusam, no duo bonorum delenit.</p>
</div>
